.carousel-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    min-width: 100%;
    background-color: #4088f4;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.carousel-container button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
}

button.prev {
    left: 10px;
    transform: translateY(-50%);
}

button.next {
    right: 10px;
    transform: translateY(-50%);
}

.produto {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.produto-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}

.produto-imagem img {
    max-width: 300px;
    height: auto;
}

.produto-informacoes {
    margin-left: 20px;
    flex: 1;
}

.produto-informacoes h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.preco {
    font-size: 20px;
    color: #e60000;
}

.preco-antigo {
    text-decoration: line-through;
    color: #888;
}

.preco-promocao {
    font-size: 22px;
    color: #e60000;
}

.desconto {
    font-size: 16px;
    color: #555;
}

.preco-parcelado p {
    font-size: 18px;
    margin: 5px 0;
}

.quantidade {
    margin: 10px 0;
}

.botao-comprar {
    margin-top: 20px;
}

.btn-primary {
    background-color: #4088f4;
    border-color: #4088f4;
    color: white;
    padding: 10px 20px;
}
